%input#from_date{:type => "text"}/
%input#to_date{:type => "text"}/
%button#filter.btn.btn-warning{:type => "button"} Filter
Number of visitations: #{@visitations}
Number of visitations: #{@bereavements}
:javascript
  var from_date = new Pikaday({
        field: document.getElementById('from_date'),
        format: 'DD MMM YYYY'
    });
    var to_date = new Pikaday({
          field: document.getElementById('to_date'),
          format: 'DD MMM YYYY'
      });
      $('#filter').click(function(){
        var from = from_date._d;
        var to = to_date._d;
        console.log(from);
        $.ajax({
          type: "get",
          url: "report",
          success: function(data, status, xhr){
            console.log(status);
            window.open("?from="+from+"&to="+to, "_self")
          },
          error: function(xhr, status, error){
            console.log(xhr);
          }
        });
      });
