#wrapper
  = render 'home/main_menu'
  #page-content-wrapper
    .container-fluid
      .row
        .col-lg-12
          .col-md-8.col-md-offset-2
            .row
              .panel.panel-default
                .panel-heading
                  %h1 New Broadcast
                .panel-body
                  = render 'form', broadcast: @broadcast
                .panel-footer
                  = link_to 'Back', broadcasts_path
