<div id="wrapper">
  <%= render 'home/main_menu' %>

  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="col-md-8 col-md-offset-2">
            <div class="row">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h1>New Broadcast</h1>
                </div>
                <div class="panel-body">
                  <%= render 'form', broadcast: @broadcast %>
                </div>



                <div class="panel-footer">
                  <%= link_to 'Back', broadcasts_path %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
