<div id="wrapper">
  <%= render 'home/main_menu' %>
  <div id="page-content-wrapper">
      <div class="container-fluid">
          <div class="row">
              <div class="col-lg-12">
                <h1>Editing Archive</h1>
                <%= render 'form', archive: @archive %>

                <%= link_to 'Show', @archive %> |
                <%= link_to 'Back', archives_path %>
              </div>
          </div>
      </div>
  </div>
</div>
