#wrapper
  = render 'home/main_menu'
  #page-content-wrapper
    .container-fluid
      .row
        .col-lg-12
          .col-md-8.col-md-offset-2
            .row
              .panel.panel-default
                .panel-heading
                  %h1 Editing Archive
                .panel-body
                  %h1 New Archive
                  = render 'form', archive: @archive
                .panel-footer
                  = link_to 'Back', groups_path
