<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>
<p>Your password is <b>12345678</b></p>
<p>Make sure you change your password later</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
