#wrapper
  = render 'home/main_menu'
  #page-content-wrapper
    .container-fluid
      .row
        .col-lg-12
          .col-md-8.col-md-offset-2
            .row
              .panel.panel-default
                .panel-heading
                  %h1 Editing Report
                .panel-body
                  = render 'form', report: @report
                .panel-footer
                  .btn-group
                    = link_to 'Show', @report, class: "btn btn-default"
                    = link_to 'Back', reports_path, class: "btn btn-default"
