<div id="wrapper">
  <%= render 'home/main_menu' %>

  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <h1>Editing Report</h1>

          <%= render 'form', report: @report %>

          <%= link_to 'Show', @report %> |
          <%= link_to 'Back', reports_path %>
        </div>
      </div>
    </div>
  </div>
</div>
